body {
  background-color: #2e2c2c;
}
.darkgrey {
  background-color: #272525;
}

.background-red {
  background-color: #e35b54;
}
.red {
  color: #e35b54;
}

.grey {
  color: #b8b5b5 !important;
}

h1 {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-family: "Montserrat", sans-serif;
}
h4 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}
li {
  font-family: "Montserrat", sans-serif;
}

.width-40 {
  width: 40%;
}
.top-spacer {
  margin-top: 5rem;
}

.max-width {
  max-width: 1200px;
}

.bannerImage {
  width: 70%;
}
@media only screen and (min-width: 768px) {
}
